*{
  margin:0;
  padding:0;
}

body {
  height: 100vh;
  background: black;
  background-image: 
    radial-gradient(1px 1px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 50px 160px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: stars 10s ease-in-out infinite alternate;
  color: whitesmoke;
  font-family: 'Outfit';
}

@keyframes stars {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

html{
    scroll-behavior: smooth;
}